<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WaterPeak Online System</title>

    <link rel="stylesheet" href="/css/WPOS_StartingPage.css">

</head>
<body class="StartingPage">
    <a href="/main_menu"> <button type="button" class="startBtn" >Start</button> </a>
    
    <div class="preFooter"></div>
    <div class="footer">
        <p class="footer-text">Copyright © 2023 | G2 Solutions</p>
    </div>

</body>
</html>


