<html>
    <title>
        WaterPeakOnline
    </title>
    <body>
        <form action="/submit-post" method="post">
            Name: <br> <input name="name" type="text" /> <br />
            Mobile Number: <br> <input name="phonenumber" type="text" /> <br />
            Date: <br> <textarea name="date" type="text"></textarea><br />
            Type: <br> <textarea name="type" type="text"></textarea><br />
            Address: <br> <textarea name="address" type="text"></textarea><br />
            Gallons Ordered: <br> <textarea name="galordered" type="text"></textarea><br />
            Amount to be paid: <br> <textarea name="amtdue" type="text"></textarea><br />
            Status: <br> <textarea name="status" type="text"></textarea><br />
            Remarks: <br> <textarea name="remarks" rows="30" cols="30"></textarea><br />

            <input type="submit">
        </form>
        <br>
        <a href="/content">View all</a>
    </body>
</html>