<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="/css/main_menu.css" rel="stylesheet" />
</head>

<body>
    <div class="content">
        <div class="header-container">
            <div class="header-title">Water Peak Online System</div>
            <p class="contacts">Contacts: 0917-8002885 0977-4916202</p>
        </div>

        <div class="footer-container">
            <div class="preFooter"></div>
            <div class="footer">
                <p class="footer-text">Copyright © 2023 | G2 Solutions</p>
            </div>
        </div>

        <div class="menuBtnContainer">

            <a href="/add_order_page"><button type="button" class="menuBtn" >
                <img src="/images/addOrder.png" alt="buttonpng"/>
                <p class="menuBtnText">Add Order</p>
            </button></a>
   
            <a href="/delivery_table"><button type="button" class="menuBtn">
                <img src="/images/deliveryTracker.png" alt="buttonpng"/>
                <p class="menuBtnText">Delivery Tracker</p>
            </button></a>

            <a href="/add_customer_page"><button type="button" class="menuBtn">
                <img src="/images/addCustomer.png" alt="buttonpng"/>
                <p class="menuBtnText">Add Customer</p>
            </button></a>

            <a href="/customer_table"><button type="button" class="menuBtn">
                <img src="/images/customerDatabase.png" alt="buttonpng"/>
                <p class="menuBtnText">Customer Database</p>
            </button></a>
    
        </div>

    </div>
</body>

</html>