
@font-face {
  font-family: "Cooper Black";
  src: url("/fonts/cooper-black.otf");
}

body {
  background: #5683AB45;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
  margin: 2px;
}

.header-container {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0px;

  background: #b2b4bbc3;
  box-shadow: 5px 10px 18px #888888;

}

.header-title {
  position: fixed;
  font-family: "Cooper Black";
  left: 40px;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  /* identical to box height */
  margin-top:10px;
  text-align: left;
  
  color: #273687;
}

.contacts {
  position: fixed;
  height: 50px;
  width: 200px;
  right: 40px;
  border-radius: nullpx;


  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  letter-spacing: 0.02em;
  
  color: #273867;
}

.home-button{
  position:absolute;
  bottom:10%;
  margin-left: 48.5%;
}

.home-button:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.footer-container {   
  position: absolute;
  width: 100%;
  bottom:0%;
  margin-left: 0;
}

.preFooter {
  width: 100%;
  height: 4px;
  background: #38B6FF;
}

.footer {
  width: 100%;
  height: 35px;
  text-align: center;
  background: #116D9B;
}

.footer-text {
  width: 100%;
  height: 22px;
  padding-top: 10px;
  
  font-family: 'font-family: 'Open Sans', sans-serif;';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  
  color: #FFFFFF;
  
}

/* Button itself */
.nav-btn{
    border: 0.2px rgba(0, 0, 0, 0.426) solid;
    display: flex;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 20px;
    height: 80px;
    margin-left: 52px;
    margin-top: 10px;
    padding-top: 5px;
    width: 400px;
}

/* Button enlarging when hovered */
.nav-btn:hover{
    background-color: rgba(255, 255, 255, 0.57);
    transform: scale(1.05);
}

/* Button pictures */
.btn-pic{  
    border: 0.3px rgba(0, 0, 0, 0.426) solid;
    border-radius: 50%;
    height: 60px;
    margin-left: 10px;
    margin-top: 5px;
    width: 60px;
}

a:link, a:visited, a:hover, a:active { 
  color: black;
  text-decoration:none;
}
/* Padding on button text */
#d, #e {
    padding-left: 50px;
}

/* Padding on button text */
#c {
    padding-left: 30px;  
}

/* Table container w/scroll */
.table-box{
  border: 0.3px rgba(0, 0, 0, 0.426) solid;
  height: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 1200px;
  margin-left: 15%;
  margin-top: 150px;

}


/* Table itself*/
.table{
  border-collapse: collapse;
  font-family: 'font-family: 'Open Sans', sans-serif;';
  font-size: 14px;
  table-layout: fixed;
  text-align: center;
  width: 700px;
  ;
}

/* Highlights odd row's background */
tr:nth-child(odd){  
    background-color: #4597c0;
    border: 0.2px solid rgba(0, 0, 0, 0.4);
}

/* Table cells */
td{
  border: 0;
  border-collapse: collapse;
  font-family: 'Signika';
  text-align: center;
  word-wrap: break-word;
  padding:2px;
}

/* Sticky table header*/
.status-bar{
  font-size: 16px;
  height: 40px;
  position: sticky;
  top: 0;
}

/* Sticky table header for customer db */
.c-status-bar{
  font-size: 20px;
  height: 40px;
  position: sticky;
  top: 0;
  width: 180px;
}

/* Makes the address column wider */
#address{
  width: 220px;
}

/* Makes the address column for customer db wider*/
#c-address{
  width: 330px;
}

/* Makes the columns pertaining to amounts smaller*/
#amount{
  width: 110px;
}
#c-phonenumber{
  width: 200px;
}
#name{
  margin-left: 60px;
}

#remarks{
width:80px;
}

/* Filter column's own div */
.filter-box{
  display: flex;
  width: 210px;
}

/* Filter column's text*/
.filter-text{
  margin-left: 50px;
  width: 60px;
}

/* Header button margin*/
.btn-margin{
  margin-left: 5px;
}
/* Header button text margin*/
#margin{
  margin-left: 10px;
}

/* Status column margin*/
#status{
  width:110px;
}

/* Status button margin*/
#btn-status{
  margin-left: 20px;
}

/* General button margin for customer db table */
.c-btn-margin{
  margin-left: 10px;
}

/* Type filter button */
.btn-filter{
  background-color: white;
  border: 0.3px solid;
  font-family: 'Unbounded', cursive;
  font-size: 15px;
  height: 25px;
  width: 30px;
}

/* Type filter button enlarging when hovered */
.btn-filter:hover{
  transform: scale(1.05);
}

.update-button{
  text-decoration-color: none;
  background-color: #e8e8e8;
  padding: 3px;
  color: #FFFFFF;
  border-radius: 7px;
  border:#121b32;
  text-transform: uppercase;
}