
@font-face {
  font-family: "Cooper Black";
  src: url("/fonts/cooper-black.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background: #5683AB45;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
  margin: 2px;
}

.header-container {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0px;

  background: #b2b4bbc3;
  box-shadow: 5px 10px 18px #888888;

}

.header-title {
  position: fixed;
  font-family: "Cooper Black";
  left: 40px;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  /* identical to box height */
  margin-top:10px;
  text-align: left;
  
  color: #273687;
}

.contacts {
  position: fixed;
  height: 50px;
  width: 200px;
  right: 40px;
  border-radius: nullpx;


  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  letter-spacing: 0.02em;
  
  color: #273867;
}

.home-button{
  position:absolute;
  bottom:10%;
  margin-left: 48.5%;
}

.home-button:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.footer-container {   
  position: absolute;
  width: 100%;
  bottom:0%;
  margin-left: 0;
}

.preFooter {
  width: 100%;
  height: 4px;
  background: #38B6FF;
}

.footer {
  width: 100%;
  height: 35px;
  text-align: center;
  background: #116D9B;
}

.footer-text {
  width: 100%;
  height: 22px;
  padding-top: 10px;
  
  font-family: 'font-family: 'Open Sans', sans-serif;';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  
  color: #FFFFFF;
  
}

/* Button pictures */
.btn-pic{  
    border: 0.3px rgba(0, 0, 0, 0.426) solid;
    border-radius: 50%;
    height: 60px;
    margin-left: 10px;
    margin-top: 5px;
    width: 60px;
}

/* Padding on button text */
#d, #e {
    padding-left: 50px;
}

/* Padding on button text */
#c {
    padding-left: 30px;  
}

/* Table container w/scroll */
.table-box{
  border: 2px rgba(0, 0, 0, 0.426) solid;
  height: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 95%;
  display: flex;
  justify-content: center;
  margin: auto;
}


/* Table itself*/
.table{
  border-collapse: collapse;
  font-family: 'font-family: 'Open Sans', sans-serif;';
  font-size: 14px;
  table-layout: fixed;
  text-align: center;
  margin-bottom: 15%;
  width:100%;
}

/* Highlights odd row's background */
tr:nth-child(odd){  
    background-color:  rgba(69, 151, 192, 0.6);
    border: 0.2px solid rgba(0, 0, 0, 0.4);
    ;
}

/* Table cells */
td{
  border: 0;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  word-wrap: break-word;
}

/* Sticky table header*/
.status-bar{
  background-color: #4597c0;
  font-size: 16px;
  height:20px;
  position: sticky;
  top: 0;
  color: white;
}

#name{
  text-align: left;
}

/* Filter column's own div */
.filter-box{
  display: flex;
  width: 200px;
}

/* Filter column's text*/
.filter-text{
  margin-left: 40px;
  width: 60px;
  
}

/* Header button margin*/
.btn-margin{
  margin-left: 5px;
}
/* Header button text margin*/
#margin{
  margin-left: 15%;
}

/* Status button margin*/
#btn-status{
  margin-left: 8px;
}

/* Type filter button */
.btn-filter{
  background-color: white;
  border: 0.3px solid;
  font-family: 'Unbounded', cursive;
  font-size: 15px;
  height: 23px;
  width: 23px;
}

/* Type filter button enlarging when hovered */
.btn-filter:hover{
  transform: scale(1.05);
  background-color: #ddd;
  cursor: pointer;
}

.update-button{
  text-decoration-color: none;
  background-color: #e8e8e8;
  padding: 2px;
  color: #FFFFFF;
  border-radius: 7px;
  border:#121b32;
  text-transform: uppercase;
  font-size: 15px;
}

.update-button:hover {
  background-color: #ddd;
  cursor: pointer;
}

a:link, a:visited, a:active { 
  color: black;
  text-decoration:none;
}

a:hover {
  text-decoration: double;
  cursor: pointer;
}

#date{
  width:17px;
  margin-left: 5px;
}

#date:hover {
  background-color: #ddd;
  cursor: pointer;
}

#form{
  padding-left: 0px;
  display:flex;
  border:0;
  margin-left: 30%;
}


#revenue{
  margin-top: 8%;
}

#filler{
  margin-top: 40px;
}

#filler2{
  margin-top: 20px;
}

.font{
  line-height: 20px;
  width: 10%
}

.button{
  outline: none;
  border: none;
  box-shadow: #888888;
  font-size: 15px;
  border-radius: 10px;
  color:#ffffff;
  line-height:25px;
  margin-top: 0px;
  text-align:center;
  padding: 5px 7px;
  background-color: #4597c0;
  margin-left: 90%;
  margin-top: -25px;
  margin-bottom:20px;
  height:25px;
  width:100px;
}

.button:hover{
    background-color: #ddd;
    cursor: pointer;
}

