<html>
    <title>
        WaterPeakOnline
    </title>
    <body>
        <form action="/submit-post" method="post" enctype="multipart/form-data">
            Name: <br> <input name="Name" type="text" /> <br />
            Mobile Number: <br> <input name="PhoneNumber" type="text" /> <br />
            Date: <br> <textarea name="Date" type="text"></textarea><br />
            Type: <br> <textarea name="Type" type="text"></textarea><br />
            Address: <br> <textarea name="Address" type="text"></textarea><br />
            Gallons Ordered: <br> <textarea name="GallonsOrdered" type="text"></textarea><br />
            Amount to be paid: <br> <textarea name="AmountDue" type="text"></textarea><br />
            Status: <br> <textarea name="Status" type="text"></textarea><br />
            Remarks: <br> <textarea name="Status" rows="30" cols="30"></textarea><br />

            <input type="submit">
        </form>
        <br>
        <a href="/content">View all</a>
    </body>
</html>